.item_page_container {
  display: flex;
  flex-direction: column;
  .footer {
    box-sizing: border-box;
    display: none;
    background-color: #F4F8FB;
    width: 100%;
    height: 100px;
  }
}
.grid_wrapper{
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-areas: "A B";
  grid-template-rows: 1fr;

  img{
    margin-top: 20px;
    overflow: hidden;
  }

  .left_menu {
    display: flex;
    justify-content: right;
    margin-right: 50px;
    .sidebar{
      display: flex;
      flex-direction: column;
      align-items: end;
      margin-left: 30px;
      margin-right: 30px;
      min-height: 660px;
      img{
        border-radius: 0;
        height: 200px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }


  .main_photo_container {
    display: flex;
    justify-content: center;
    .main_photo {
      height: 650px;
      //width: 100%;
    }
  }


  .right_menu{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    box-sizing: border-box;
    .item_opts{
      height: 100%;
      margin-top: -30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .item_name{
        font-weight: 500;
      }
      .item_description,
      .item_structure,
      .item_availability,
      .item_select {
        font-size: 20px;
      }
      .item_description_title {
        font-weight: 600;
        font-size: 1.5rem;
      }
      .item_price {
        text-align: center;
      }

    }

    .item_btn {
      background-color: #672baf !important;
      border-radius: 10px;
      height: 50px;
      font-weight: 500;
    }

    .btn {
      justify-self: flex-end;
      width: 100%;
    }
    select{

    }
  }
  a {
    color: green;
    text-decoration: underline;
    font-size: .7em;
  }
}

// === Adaptive ===
@media screen and (max-width: 1080px) {
  .item_page_container {
    .footer {
      display: block;
    }
  }
  .grid_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .left_menu {
      margin-right: 0;
      flex-direction: column-reverse;
      .sidebar {
        min-height: 0;
        height: 120px;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        margin-top: 20px;
        img {
          height: 100%;
          width: auto;
        }
      }
      .main_photo_container {
        display: flex;
        align-items: center;
        .control_btn {
          filter: invert(1);
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .right_menu {
      padding-bottom: 20px;
      padding-top: 50px;
      width: 100%;
      align-items: center;
      .item_opts {
        margin-top: 0;
        gap: 20px;
        padding: 0 30px;
        .item_btn_container {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 10px 30px 20px 30px;
          background-color: #fff;
        }
      }

    }
  }
}

@media screen and (max-width: 600px) {
  .grid_wrapper{
    .left_menu {
      .sidebar {
        height: 80px;
      }
      .main_photo_container {
        .main_photo {
          width: 70%;
          height: auto;
        }
      }
      }
    }
}

@media screen and (max-width: 350px) {
  .grid_wrapper{
    .left_menu {
      .sidebar {
        height: 60px;
      }
    }
  }
}
