.item_page_container {
  display: flex;
  flex-direction: column; }
  .item_page_container .footer {
    box-sizing: border-box;
    display: none;
    background-color: #F4F8FB;
    width: 100%;
    height: 100px; }

.grid_wrapper {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-areas: "A B";
  grid-template-rows: 1fr; }
  .grid_wrapper img {
    margin-top: 20px;
    overflow: hidden; }
  .grid_wrapper .left_menu {
    display: flex;
    justify-content: right;
    margin-right: 50px; }
    .grid_wrapper .left_menu .sidebar {
      display: flex;
      flex-direction: column;
      align-items: end;
      margin-left: 30px;
      margin-right: 30px;
      min-height: 660px; }
      .grid_wrapper .left_menu .sidebar img {
        border-radius: 0;
        height: 200px; }
        .grid_wrapper .left_menu .sidebar img:hover {
          cursor: pointer; }
  .grid_wrapper .main_photo_container {
    display: flex;
    justify-content: center; }
    .grid_wrapper .main_photo_container .main_photo {
      height: 650px; }
  .grid_wrapper .right_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    box-sizing: border-box; }
    .grid_wrapper .right_menu .item_opts {
      height: 100%;
      margin-top: -30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .grid_wrapper .right_menu .item_opts .item_name {
        font-weight: 500; }
      .grid_wrapper .right_menu .item_opts .item_description,
      .grid_wrapper .right_menu .item_opts .item_structure,
      .grid_wrapper .right_menu .item_opts .item_availability,
      .grid_wrapper .right_menu .item_opts .item_select {
        font-size: 20px; }
      .grid_wrapper .right_menu .item_opts .item_description_title {
        font-weight: 600;
        font-size: 1.5rem; }
      .grid_wrapper .right_menu .item_opts .item_price {
        text-align: center; }
    .grid_wrapper .right_menu .item_btn {
      background-color: #672baf !important;
      border-radius: 10px;
      height: 50px;
      font-weight: 500; }
    .grid_wrapper .right_menu .btn {
      justify-self: flex-end;
      width: 100%; }
  .grid_wrapper a {
    color: green;
    text-decoration: underline;
    font-size: .7em; }

@media screen and (max-width: 1080px) {
  .item_page_container .footer {
    display: block; }

  .grid_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .grid_wrapper .left_menu {
      margin-right: 0;
      flex-direction: column-reverse; }
      .grid_wrapper .left_menu .sidebar {
        min-height: 0;
        height: 120px;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        margin-top: 20px; }
        .grid_wrapper .left_menu .sidebar img {
          height: 100%;
          width: auto; }
      .grid_wrapper .left_menu .main_photo_container {
        display: flex;
        align-items: center; }
        .grid_wrapper .left_menu .main_photo_container .control_btn {
          filter: invert(1); }
          .grid_wrapper .left_menu .main_photo_container .control_btn:hover {
            cursor: pointer; }
    .grid_wrapper .right_menu {
      padding-bottom: 20px;
      padding-top: 50px;
      width: 100%;
      align-items: center; }
      .grid_wrapper .right_menu .item_opts {
        margin-top: 0;
        gap: 20px;
        padding: 0 30px; }
        .grid_wrapper .right_menu .item_opts .item_btn_container {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 10px 30px 20px 30px;
          background-color: #fff; } }
@media screen and (max-width: 600px) {
  .grid_wrapper .left_menu .sidebar {
    height: 80px; }
  .grid_wrapper .left_menu .main_photo_container .main_photo {
    width: 70%;
    height: auto; } }
@media screen and (max-width: 350px) {
  .grid_wrapper .left_menu .sidebar {
    height: 60px; } }

/*# sourceMappingURL=itemPage.style.css.map */
